body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav h3{
    margin: 0;
    font-size: 24px;
}

.container{
    padding: 5px;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.perfil{
    height: 35vh;
    width: 25vh;
    border: 2px solid black;
}

.perfil img{
    height: 15vh;
    width: 15vh;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 30px;
    top: 10px;
}

.perfil h2{
    text-align: center;
    position: relative;
    top: 15px;
}

.card-friends h2{
    margin-left: 10px;
}

.card-large{
    border: 2px solid black;
    width: 150vh;
    height: 15vh;
    margin: 10px;
    padding: 15px;
    display: flex;
}

.like-btn{
    margin-left: auto;
}

.like-btn button{
    background-color: rgb(241, 241, 16);
    width: 15vh;
    height: 5vh;
    cursor: pointer;
    outline: none;
}

/* Pagina no encontrada */
.centrado{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.boton1 {
    width: 80px;
    height: 30px;
    background-color: rgb(192, 189, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    outline: none;
}

.boton1 > a{
    text-decoration: none;
    color: black;
}