body { /* diseño que afecta a todas las paginas*/ 
    margin: 0px; /* le quita el borde a toda la pagina */ 
    font: 1em sans-serif;
}
#navbar {
    background-color: rgb(69, 130, 243);
    width: 100%;
    height: 50px;
    display: flex;              /* activa flexbox */
    justify-content: center;    /* centra horizontalmente */
    align-items: flex-end;      /* empuja el contenido hacia abajo */
}

#navbar span{
    margin-left: 30px;
    margin-bottom: 5px;
}

#navbar a{
    text-decoration: none; /* le quita el hipervinculo al (a href) */
    color: white; /* colorea la frase por defecto en azul a blanco */
}

#imagenes {  /* provoco que el div sea mas pequeño para que las imagenes esten a la par del ejemplo */
    height: 80%;
    text-align: center;
}

#imagenes img{
    width: 300px;   /* ancho */
    height: 300px;  /* alto */
    object-fit: cover; /* ajustar la imagen al tamaño si es diferente sin deformar */
    border-radius: 10px;
}

#contenedor {
    display: flex;              /* coloca los hijos en línea */
    justify-content: space-between; /* separa o distribuye espacio */
    background: #eee;
    padding: 10px;
}

#contenedor .caja {
    background: #bfc2c2;
    flex: 1;                     /* hace que ocupen el mismo ancho */
    margin: 5px;                 /* separa entre ellas */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

#tabla{
    text-align: center;
}

#tabla table {    /* Selecciono solo la tabla */
    margin: 0 auto;  /* defino que la tabla no ocupa el 100% del contenedor */ 
    display: inline-block;  /* transformo la tabla en un bloque en linea para centrar con el text-align*/
}

#tabla table, tr, th, td{    /* Selecciono todos los elementos de una tabla para asignarle un borde*/
    border-collapse: collapse; /* las lineas de la tabla "colapsan" es decir chocan entre si*/ 
    border: 2px solid black; /* Las lineas definidas para la tabla son del tamaño de 2px solidas color negro */
    padding: 5px;
}

#footer {
    background-color: rgb(69, 130, 243);
    width: 100%;
    height: 50px;
    display: flex;              /* activa flexbox */
    justify-content: center;    /* centra horizontalmente */
}

#footer p{
    color: white;
}

#testimonios{
    text-align: center;
}

/* Informe academico */
#contenedor table {
    border-collapse: collapse;
}
#contenedor th, td {
    border: 1px solid #333;
    padding: 8px;
}

.link{
    text-decoration: none; /* le quita el hipervinculo al (a href) */
    color: rgb(0, 0, 0); /* colorea la frase por defecto en azul a blanco */
}

/* Formulario */
#form form{
    background-color: rgb(189, 188, 188);
    border: 2px solid #000000;
    width: 40%; 
    height: auto;
    margin: 0px;
}

#form{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px auto;
}

#form input, textarea, button, label, select {
    margin-bottom: 15px;
    margin: 10px;
    padding: auto;
}

#form .comentarios{
    text-align: center;
}

/* Actividades */
#actividades{
    text-align: center;
}

#actividades table {    /* Selecciono solo la tabla */
    margin: 0 auto;  /* defino que la tabla no ocupa el 100% del contenedor */ 
    display: inline-block;  /* transformo la tabla en un bloque en linea para centrar con el text-align*/
    border-collapse: collapse; /* las lineas de la tabla "colapsan" es decir chocan entre si*/ 
}

#actividades th{
    background-color: rgb(69, 130, 243);
    color: rgb(255, 255, 255);
}

#actividades td{
    text-align: left;
}

#actividades th, tr, td{
    border: 2px solid #333;
    padding: 8px;
}


#actividades h1{
    text-align: center;
}
