body{
    padding: 3vh;
}
.titulo{
    text-align: center;
    margin-bottom: 8vh;
}
.borde{
    border: 1px solid black;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 20vh;
}
input::placeholder {
    text-align: right;
    padding-right: 1vh;
}
input{
    width: 20vh;
}
.trash svg{
    width: 5vh;
    height: 5vh;
    color: red;
}
.contador{
    text-align: center;
    font-size: 5vh;
}
.botones{
    padding-right: 5vh;
}
.contenedor_l{
    text-align: center;
}
.caja{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35%;
    text-align: left;
    width: 50vh;
    height: 40vh;
    padding: 3vh;
    border: 2px solid black;
    border-radius: 15px;
}
.caja input{
    width: 40vh;
    margin: 2vh;
}
.caja input::placeholder{
    text-align: left;
}
.usuario{
    gap: 3vh;
}
.usuario h3{
    font-size: 3vh;
}
.contenedor_i{
    display: flex;
    justify-content: space-between;
}