<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href= {{ url_for('static', filename='css/style.css') }}>
    <title>Lista de paises</title>
</head>
<body>
    <nav>

    </nav>

    <main>
        <div class="col-3"></div>
        <div class="container col-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-secondary">
                        <th>País</th>
                        <th>Capital</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datos in paises %}
                        <tr>
                            <td>{{ datos["pais"] }}</td>
                            <td>{{ datos["capital"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>