<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href= {{ url_for('static', filename='css/style.css') }}>
    <title>Registro</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="caja">
                {% for message in messages %}
                    <div class="mensaje">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</head>
<body>
    <main>
        <div class="container col-4">
            <h2>Formulario de registro</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrar_usuario" method="POST" autocomplete="off">
                        <label>Nombre:</label>
                        <input type="text" name="nombre" required><br>
                        <label>Apellido:</label>
                        <input type="text" name="apellido" required><br>
                        <label>Email:</label>
                        <input type="text" name="email" placeholder="email@gmail.com" required><br>
                        <label>Contraseña:</label>
                        <input type="password" name="contrasenia" placeholder="********" required><br>
                        <label>Confirme contraseña:</label>
                        <input type="password" name="contrasenia_conf" placeholder="*********" required><br>
                        <label>Fecha de nacimiento:</label>
                        <input type="date" name="f_nacimiento" required><br>
                        <input type="submit" value="Registrar" >
                    </form>
                </div>
                <a href="{{ url_for('inicio') }}" style="text-align: center;">< atras</a>
                <br>
            </div>
        </div>
    </main>
</body>
</html>