html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
nav {
    background-color: rgb(129, 161, 231);
    position: absolute;
    top: 0;
    width: 100%;
    height: 8vh;
    color: white;
    display: flex;              /* activa flexbox */
    justify-content: center;    /* centra horizontalmente */
    align-items: flex-end;      /* empuja el contenido hacia abajo */
}
nav span{
    margin-left: 30px;
    margin-bottom: 5px;
}
nav a{
    text-decoration: none; /* le quita el hipervinculo al (a href) */
    color: white; /* colorea la frase por defecto en azul a blanco */
}
main{
    display: flex;
}
.tabla{
    max-height: 60vh;
    overflow-y: auto;
}
.container input{
    width: 40vh;
    margin: 1vh;
    display: flex;
}
.container select{
    width: 40vh;
    margin: 1vh;
    display: flex;
}
footer {
    background-color: rgb(129, 161, 231);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    color: white;
}
.cont-foot {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1vh;
}
table a{
    text-decoration: none; /* le quita el hipervinculo al (a href) */
    color: black;
}