<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libroteca - Inicio</title>
    <link rel="stylesheet" href= {{ url_for('static', filename='css/style.css') }}>
</head>
<body>
    <nav class="navbar">
        <!-- Titulo -->
        <div class="titulo">
            <h1>Libroteca</h1>
        </div>

        <!-- logo -->
        <div class="logo">
            <img src= {{ url_for('static', filename='img/logo.png') }} alt="imagen_logo">
        </div>

        <!-- Botones -->
        <div class="btns">
            <div class="login-btn">
                <button id="login">Iniciar Sesión</button>
            </div>
            <div class="reg-btn">
                <button id="registro"><strong>Registo</strong></button>
            </div>
        </div>
    </nav>
    <main>
        <!-- Barra de opciones de compra/delivery -->
        <div class="option-card">
            <div class="option">
                <a href= {{ url_for('not_found') }} class="option-link">
                    <img src= {{ url_for('static', filename='img/book.png') }} alt="">
                    <h2>Elige tu libro</h2>
                </a>
            </div>
            <div class="option">
                <a href= {{ url_for('not_found') }} class="option-link">
                    <img src= {{ url_for('static', filename='img/check.png') }} alt="">
                    <h2>Revisa disponibilidad</h2>
                </a>
            </div>
            <div class="option">
                <a href= {{ url_for('not_found') }} class="option-link">
                    <img src= {{ url_for('static', filename='img/list.png') }} alt="">
                    <h2>Sepáralo</h2>
                </a>
            </div>
            <div class="option">
                <a href= {{ url_for('not_found') }} class="option-link">
                    <img src= {{ url_for('static', filename='img/fast-delivery.png') }} alt="">
                    <h2>Recibelo</h2>
                </a>
            </div>
        </div>

        <!-- Barra de generos literarios -->
        <div class="gen-bar">
            <div>
                <a href="#" class="genero"><H3>Ficción</H3></a>
            </div>
            <div>
                <a href="#" class="genero"><h3>Históricos</h3></a>
            </div>
            <div>
                <a href="#" class="genero"><h3>Tecnología</h3></a>
            </div>
            <div>
                <a href="#" class="genero"><h3>Autoayuda</h3></a>
            </div>
            <div>
                <a href="#" class="genero"><h3>Poesía</h3></a>
            </div>
        </div>

        <!-- Barra de "Todos los libros" -->
        <div class="middle-bar">
            <h1 id="titulo">Todos los libros</h1>
        </div>

        <!-- Catolago de libros -->
        <div class="book-cat">
            <div class="book">
                <img src= {{ url_for('static', filename='img/cien.jpg') }} alt="">
                <p>Cien años de soledad</p>
                <p><strong>Gabriela García Márquez</strong></p>
                <div class="ren-btn">
                    <button>Rentar</button>
                </div>
            </div>
            <div class="book">
                <img src= {{ url_for('static', filename='img/rayuela.jpg') }} alt="">
                <p>Rayuela</p>
                <p><strong>Julio Cortázar</strong></p>
                <div class="ren-btn">
                    <button>Rentar</button>
                </div>
            </div>
            <div class="book">
                <img src= {{ url_for('static', filename='img/travesuras.jpg') }} alt="">
                <p>Travesuras de niña mala</p>
                <p><strong>Mario Vargas Llosa</strong></p>
                <div class="ren-btn">
                    <button>Rentar</button>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-bar">
        <!-- Contenido del nav -->
        <p><strong>Todos los derechos reservados. | Libroteca</strong></p>
    </footer>
    <script src= {{ url_for('static', filename='js/main.js') }}></script>
</body>
</html>