<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href= {{ url_for('static', filename='css/style.css') }}>
    <title>Visitas</title>
</head>
<body>
    <nav>
        <div class="contenedor_i">
            <div class="usuario">
                <h3>Nombre: {{session['nombre_usuario']}}</h3>
                <h3>E-mail: {{session['email_usuario']}}</h3>
            </div>
            <div class="logout">
                <form action="{{ url_for('logout') }}" method="POST">
                    <button class="btn btn-danger">Cerrar sesion</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <br>
        <div class="titulo">
            <h1>Contador de visitas</h1>
        </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col"></div>
                <div class="col card">
                    <div class="card-body">
                        Contador de visitas:
                        <div class="contador">
                            <strong>{{ contVisitas }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col card">
                    <div class="card-body">
                        Contador de reinicios:
                        <div class="contador">
                            <strong>{{ contReset }}</strong>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <br>
        <br>
        <div class="contenedor">
            <div class="contenedor">
                <form method="post" action="{{ url_for('sumar2') }}" class="botones">
                    <button class="btn btn-success">Visitar</button>
                </form>
                <form method="post" action="{{ url_for('reset') }}">
                    <button class="btn btn-danger">Reiniciar</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="contenedor">
            <div>
                <form action="{{ url_for('sumar') }}" method="POST">
                    <label>Ingrese cantidad de visitas:</label>
                    <input type="int" name="visitas" placeholder="1000">
                    <input type="submit" value="Sumar visitas">
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>